<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490906039491-tok507q9bc17vbi71m4pqgncrue8gjcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490906039491-tok507q9bc17vbi71m4pqgncrue8gjcs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>490906039491-1i57e96oueb3eadc1m3ui4c4ruueajba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDKxKw2b42sNcBDZVxZpOEST5V5-MybT4</string>
	<key>GCM_SENDER_ID</key>
	<string>490906039491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equifoodb</string>
	<key>PROJECT_ID</key>
	<string>equifood-teamb</string>
	<key>STORAGE_BUCKET</key>
	<string>equifood-teamb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490906039491:ios:11317e2af46ed56f329e76</string>
	<key>DATABASE_URL</key>
	<string>https://equifood-teamb-default-rtdb.firebaseio.com</string>
</dict>
</plist>